*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/bigback.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #fae1a9;
}
.Menu{
    width: 100%;
    height: 62px;
    background: #fae1a9;
}

#log{
    width: 55%;
    height: 80%;
    position: absolute;
    min-width: 600px;
    /* background: red; */
}
#slogan{
    font-family: 'Inter';
    font-style: normal;
    top: 6%;
    left: 6%;
    position: relative;
    font-size: 2vw;
    line-height: 42px;
    color: #E4C388;
    width: fit-content;
}
#txtg{
    font-weight: 900;
    font-size: 2.7vw;
    color: #FFFFFF;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.50);
    line-height: 62px;
    margin-right: 25px;
}
#connexion{
    color: #FFFFFF;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    top: 18%;
    left: 6%;
    width: fit-content;
    font-size: 2.3vw;
}
#inscription{
    color: #FFFFFF;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    top: 10%;
    left: 6%;
    font-size: 2.3vw;
    width: fit-content;
}
.formsign{
    top: 31%;
    left: 6%;
    position: absolute;
    display: flex;
    flex-direction: column; 
    /* background: red; */
    width: 40%;
}
.form{
    top: 48%;
    left: 6%;
    position: absolute;
    display: flex;
    flex-direction: column; 
    /* background: red; */
    width: 40%;
    /* min-width: 300px; */
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 4vh;
    margin: 4px 0;
    border-radius: 30px;
    border: none;
    font-weight: lighter;
    padding: 5px 10px;;
}
#btn{
    width: 75%; 
    height: 5.5vh;
    background: #444445;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 1.2vw;
    position: relative;
    left: 50%;
    transform:translate(-50%, 0);
    top: 55px;
    cursor: pointer;
    transition: ease 0.3s;
}
#mdpoublié{
    position: relative;
    left: 50%;
    transform:translate(-50%, 0);
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    text-decoration-line: underline;
    width: fit-content;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}
#sinscrire{
    position: relative;
    left: 50%;
    transform:translate(-50%, 0);
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.76);
}
#btn:hover{
    color: #444445;
    background:  #fae1a9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
a{
color: rgba(0, 0, 0, 0.76);
text-decoration: none;
}
.erreur{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* color: red; */
    font-family: 'Inter';
    font-style: normal;
    
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #FAE3A7;
    
}
@media (max-width: 848px){
    body{
        background-image: url(../img/bigbackMobile.png);
    }
    #slogan{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        top: -10px;

    }
    #txtg{
        font-size: 25px;
    }
    #btn{
        width: 80%; 
        font-size: 15px;
    }
    #connexion{
        font-size: 25px;
    }
    #inscription{
        top: 0px;
        font-size: 25px;
    }
}
@media (max-width: 600px){
    #log{
        width: 60%;
        min-width: 0;
    }
    .form{
        width: 100%;
    }
    .formsign{
        width: 100%;
    }
   
    body{
        background-image: url(../img/bigbackMobilesmall.png);
    }
}
@media (max-width: 375px){
    body{
        background-image: url(../img/bigbackMobilesmaller.png);
    }
    .formsign{
        width: 100%;
    }
    #log{
        width: 7 0%;
    }
}